/* Global styles for Series page */
.series-page {
    padding: 20px;
    background-color: #141414;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  /* Hero Section */
  .hero-series {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  .series-title {
    margin-top: 60px;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .series-hero-row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .series-hero-row img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .series-hero-row img:hover {
    transform: scale(1.05);
  }
  
  /* Categorías de Series */
  .category-series {
    margin-bottom: 50px;
  }
  
  .category-title {
    font-size: 2rem;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .category-row {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding-left: 20px;
  }
  
  .category-row img {
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .category-row img:hover {
    transform: scale(1.1);
  }
  
  /* Ocultar scrollbar horizontal en la categoría */
  .category-row::-webkit-scrollbar {
    display: none;
  }
  
  /* Top 10 Series Section */
.top10-row {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: 20px;
  }
  
  .top10-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .top10-number {
    font-size: 3rem;
    font-weight: bold;
    color: red;
  }
  
  .top10-item img {
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .top10-item img:hover {
    transform: scale(1.1);
  }
  
  /* Ocultar scrollbar horizontal en la categoría */
  .top10-row::-webkit-scrollbar {
    display: none;
  }
  