<!-- Hero Section -->
<section class="hero">
  <video class="hero-video" autoplay muted loop playsinline>
    <source src="assets/You_ T.mp4" type="video/mp4">
    Tu navegador no soporta el video.
  </video>
  <div class="hero-content">
    <h1 class="hero-title">You</h1>
    <div class="hero-buttons">
      <button class="btn btn-primary">Ver Ahora</button>
      <button class="btn btn-secondary">Añadir a Mi Lista</button>
    </div>
  </div>
</section>

  
  <!-- Categorías -->
  <section class="category">
    <h2 class="category-title">Tendencias</h2>
    <div class="category-row">
      <img src="assets/berlin.jpg" alt="Película 1">
      <img src="assets/stone.jpg" alt="Película 2">
      <img src="assets/stg.jpg" alt="Película 3">
      <img src="assets/ag.jpg" alt="Película 4">
      <img src="assets/suc.jpg" alt="Película 5">
      <img src="assets/msi.jpg" alt="Película 6">
      <img src="assets/stran.jpg" alt="Película 7">
      <img src="assets/ldp.jpg" alt="Película 8">
      <img src="assets/game.jpg" alt="Película 9">
      <img src="assets/brbd.jpg" alt="Película 10">
      <img src="assets/bt.jpg" alt="Película 11">
    </div>
  </section>

  <section class="category">
    <h2 class="category-title">Recien añadido</h2>
    <div class="category-row">
      <img src="assets/mom.jpg" alt="Película 1">
      <img src="assets/1.jpg" alt="Película 2">
      <img src="assets/ww.jpg" alt="Película 3">
      <img src="assets/ck.jpg" alt="Película 4">
      <img src="assets/one.jpg" alt="Película 5">
      <img src="assets/fall.jpg" alt="Película 6">
      <img src="assets/22.jpg" alt="Película 7">
      <img src="assets/meg.jpg" alt="Película 8">
      <img src="assets/luc.jpg" alt="Película 9">
      <img src="assets/arr.jpg" alt="Película 10">
    </div>
  </section>
  
  
  <section class="category">
    <h2 class="category-title">Proximante</h2>
    <div class="category-row">
      <img src="assets/you5.jpg" alt="Película 1">
      <img src="assets/b2.jpg" alt="Película 2">
      <img src="assets/sq.jpg" alt="Película 3">
      <img src="assets/avi.jpg" alt="Película 4">
      <img src="assets/ali.jpg" alt="Película 5">
      <img src="assets/dw.jpg" alt="Película 6">
      <img src="assets/long.jpg" alt="Película 7">
      <img src="assets/bat.jpg" alt="Película 8">
      <img src="assets/jk.jpg" alt="Película 9">
      <img src="assets/lok.jpg" alt="Película 10">
    </div>
  </section>
  